<form action = '/links/add_tag' method = 'post'>
  <input type = 'text', name = 'Link' placeholder='Link'><br>
  <input type = 'text', name = 'Tag' placeholder='Tag'><br>
  <input type = 'submit', value = 'Submit'>
</form>
