<form action = '/links' method = 'post'>
  <input type = 'text', name = 'Title' placeholder='Title'><br>
  <input type = 'text', name = 'URL' placeholder='Url'><br>
  <input type = 'text', name = 'tag' placeholder='Tag'><br>
  <input type = 'submit', value = 'Submit'>
</form>
