<form action = '/register' method = 'post'>
  <input type = 'text', name = 'Name' placeholder='Name'><br>
  <input type = 'text', name = 'Email' placeholder='Email'><br>
  <input type = 'password', name = 'Password' placeholder='Password'><br>
  <input type = 'password', name = 'Password_Confirmation' placeholder='Password Confirmation'><br>
  <input type = 'submit', value = 'Submit'>
</form>

<!--
<h1>Please sign up</h1>

<form action='/users' method='post'>
  <label for='email'>
    Email: <input name='email' type='text'>
  </label>
  <label for='password'>
    Password: <input name='password' type='password'>
  </label>
  <label for='password_confirmation'>
    Password: <input name='password_confirmation' type='password'>
  </label>
  <input type='submit' value='Sign up'>
</form> -->
